# Unit Test Automation Dependencies
groq>=0.37.0
datasets>=2.16.0
python-dotenv==1.0.0
numpy>=1.26.0
pytest==9.0.3
huggingface-hub>=0.19.4
radon
cognitive-complexity

# Formatting / Testing Tools
black
isort
coverage
# LLM and Template Engines
openai
langchain
pydantic
jinja2
